# LLM API Keys
GEMINI_API_KEY=
GROQ_API_KEY=

# Search API Key
TAVILY_API_KEY=

# Supabase Vector Database Credentials
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Job Fetching APIs 
INDIANAPI_JOBS_KEY=
SERPAPI_API_KEY=

# Resume Parsing APIs
APILAYER_API_KEY=
